// _variables.scss






/* variables */

$BE__color__background-body: #fff;
$BE__color__background-screen: #f2f2f2;
$BE__color__background-hr: #ccc;
$BE__color__background-button: #006fe5;
$BE__color__background-pre: #eee;
$BE__color__background-ins: #fff9c0;
$BE__color__background-blue:#004998;
$BE__color__background-dark-blue:#346ca9;
$BE__color__background-light-blue:#4592e4;
$BE__color__background-dark-bluenew:#001933;
$BE__color__background-dark-gray:#3b3b3b;

$BE__color__text-screen: #757577;
$BE__color__text-input: #666;
$BE__color__text-input-focus: #111;
$BE__color__link: #004998;
$BE__color__link-visited: #006fe5(1);
$BE__color__link-hover: #006fe5;
$BE__color__text-main: #595959;
$BE__color__white-text:#ffffff;
$BE__color__heading:#252525;
$BE__color__sub-link:#252525;
$BE__color__date:#b0b0b0;
$BE__color__important:#ff0000;
$BE__color__gray-text:#cccccc;

$BE__color__border-button: #e5e5e5;
$BE__color__border-button-hover: #ccc #bbb #aaa;
$BE__color__border-button-focus: #aaa #bbb #bbb;
$BE__color__border-input: #e3e3e4;
$BE__color__border-abbr: #666;
$BE__color__border-white:#ffffff;
$BE__color__border-link:#004998;
$BE__color__border-link-hover:#006fe5;
$BE__color__border-blockquoute:#004998;


$BE__font__main: sans-serif;
$BE__font__code: Roboto;
$BE__font__pre: "Courier 10 Pitch", Courier, monospace;
$BE__font__line-height-body: 1.5;
$BE__font__line-height-pre: 1.6;
$BE__font__code__script:'Sacramento', cursive;
$BE__font__code__ico: FontAwesome;

